**/.ipynb_checkpoints/
.ipynb_checkpoints/
Cerfacs/
Notebooks/Cdiscount/data/features/*.*
Notebooks/Cdiscount/data/fr/*.*
Notebooks/Cdiscount/data/*.csv
Notebooks/CatsVSDogs/subsample_2000N_train_800_N_val/subsample_2000N_train_800_N_val/.DS_Store
Notebooks/CatsVSDogs/subsample_200N_train_80_N_val/.DS_Store
